<div class="container">

  <form [formGroup]="noteForm"  (keydown.enter)="$event.preventDefault()"(ngSubmit)="saveNote(noteForm.value)">
    <div class="form-group">
      <label> Note title:</label>
      <div *ngIf="noteTitle?.invalid && noteTitle?.touched">
        title is required!
      </div>
      <input formControlName="noteTitle"  type="text"/>
    </div>
    <div class="form-group">
    <label>Date: </label>
      <div *ngIf="date?.invalid && date?.touched">
        date is required!
      </div>
      <input type="date" formControlName="date" class="date"/>
    </div>

    <ng-container formArrayName="noteTags" >
      <label>Note tags:</label>
      <input id="tagInput" #tagList  type="text" (keyup.enter)="addTag(tagList.value)" />
      <div  class="tagContainer" *ngFor="let tag of noteTags.controls; index as i ">
        <mat-chip>{{tag.value}}</mat-chip><button class="chipButton" (click)="removeTag(i)">X</button>
      </div>
    </ng-container>

    <div class="form-group">
      <label> Note body:</label>
      <input class="noteBody" formControlName="noteBody" type="text"/>
    </div>
    <button type="submit"> Save note</button>
    <button type="button" (click)="cancel()"> cancel</button>
  </form>
</div>

