<div class="container">

  <form [formGroup]="noteForm"  (ngSubmit)="saveNote(noteForm.value)">
    <div class="form-group">
      <label> Note title:</label>
      <div *ngIf="title?.invalid && title?.touched">
        title is required!
      </div>
      <input formControlName="title"  type="text"/>
    </div>

    <ng-container formArrayName="tags" >
      <label>Note tags:</label>
      <input [formControlName]="" type="text" (input)="addTag($event)" />
      <div *ngFor="let tag of tags.controls; index as i ">
        <p>{{i}}</p>
      </div>
    </ng-container>
    <div class="form-group">
      <label> Note body:</label>
      <input class="noteBody" formControlName="body" type="text"/>
    </div>
    <button type="submit"> Save note</button>
    <button type="button" (click)="cancel()"> cancel</button>
  </form>
</div>

